<header>
    <nav class="nav">
      <div class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="./index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./members_v1.html">Miembros (v1)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./members_v2.html">Miembros (v2)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./article.html">Sobre Nosotros (v1)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./article.html">Sobre Nosotros (v2)</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="./dates.html">Calendario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./form.html">Apúntate</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </nav>


  </header>

